<tr>	<% @partida=partida %>
	<td> <%= partida.id %> </td>
	<td> <%= if (partida.show_or_wait==false)	then "Sin ejecutar" 
						else "Ejecutada" end%> </td>
	<td> <%= if partida.show_or_wait==false	then "-"
						else ganador end %> 	</td>				
	<td> <%=  if partida.show_or_wait==false then "00 : 00 : 000" 
							else print_tiempo(mejor_tiempo.to_i) end %> </td>
	<td> <%= if (partida.show_or_wait==false)	then 
							link_to 'Ejecutar', competencia_partida_path(@competencia, @partida)
						else 
							link_to 'Ver', competencia_partida_path(@competencia, @partida) 
					 end %> </td>
	<td> <%= link_to 'Borrar', competencia_partida_path(@competencia, @partida), :confirm => 'Esta a punto de borrar una partida, ¿desea continuar?', :method => :delete%> </td>
</tr>

