<h1> Partida nueva </h1>

<!-- Para el form_for hay que usar si o si el hash :url porque sino tira error aunque teoricamente no hace falta. Despues de leer parece que es un bug porque seteo todo lo necesario para que funcione y no anda.El path que especifico es a donde se puede hacer POST segun "rake routes".-->
<% @partida.partida_rapida=false %>
<%= form_for [@competencia, @partida], :url => competencia_partidas_path(@competencia,@partida) do |f| %>
	<div class="field">
		<b> Tipo de prueba</b> <%= f.select :tipo_prueba, ['Crawl','Pecho', 'Mariposa', 'Espalda', 'Combinados']%>	
	</div>
	<div class="field">
		<b> Numero de laps</b> <%= f.select :laps, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9]]%>		
	</div> 
	<div class="field">
		<b> Carril 1</b> <%= f.collection_select :nadador_id_1, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 2</b> <%= f.collection_select :nadador_id_2, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 3</b> <%= f.collection_select :nadador_id_3, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 4</b> <%= f.collection_select :nadador_id_4, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 5</b> <%= f.collection_select :nadador_id_5, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 6</b> <%= f.collection_select :nadador_id_6, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 7</b> <%= f.collection_select :nadador_id_7, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<div class="field">
		<b> Carril 8</b> <%= f.collection_select :nadador_id_8, @nadadores, :id,:nombre_completo, :include_blank => '-' %>	</div>
	<% @partida.partida_rapida = false %>
	<div class="actions">
		<%= f.submit "Guardar" %>
	</div>
<% end %>