<% if @partida.show_or_wait == false %>
	<% content_for :head do %>
		<%= javascript_tag do %>
			$(function () {  
		      setTimeout(refresca_estado, 1000);  
		  		});  

			function refresca_estado() {  
		  		var partida_id = $('#div_tiempo').attr('data-id')	
		  		$.getScript('/wait_partida.js?partida_id='+partida_id);  
		  		setTimeout(refresca_estado, 1000);  
				};
		<% end %>
	<% end %>
<% end %>

<h1>Partida <%= @partida.id %> </h1>


<div id="div_tiempo" data-id="<%= @partida.id %>" >
	<!-- El scrypt actualiza TODA LA TABLA en lugar de solo un campo -->
	<%= render '/partidas/tiempos'%>
</div>

<!--
<div style="float:left; with:50%; height:50px; margin-right:100px; ">
	<%= button_to 'Volver a competencia', competencia_path(@competencia) %>
</div>--> 
<div style="float:right; with:100%; height:50px; margin-right:350px; ">
	<%= button_to 'Descartar Partida', competencia_partida_path(@competencia, @partida), :method => :delete, :confirm =>'Esta a punto de borrar una partida, ¿desea continuar?' %>
</div>
<br>


