<h1>Nueva Competencia</h1> 

<%= form_for @competencia, :url => {:action => 'create'} do |f| %>
	<div class="field">
		<%= f.label :nombre_del_evento %><br>
		<%= f.text_field :nombre %>	
	</div>
	<div>
		<%= f.label :fecha_del_evento %><br>
		<%= f.date_select :fecha, {:start_year => 2000, :promt => true, :order => [:day, :month, :year]} %>	
	</div>
	<div class="field">
		<%= f.label :largo_de_la_pileta %> <br>
		<%= f.select :largo_pileta, [['20mts', 20], ['25mts', 25], ['30mts', 30], ['35mts', 35], ['40mts', 40], ['45mts', 45], ['50mts', 50]] %> [metros]
	</div>
	<div class="actions">
		<%= f.submit "Guardar" %>
	</div>
<% end %>
