<h1>Nadadores</H1>
	<table>
		<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Sexo</th>
		<th>Fecha de Nacimiento</th>
		<th>Club</th>
		
		</tr>
		<% @nadadores.each do |nadador| %>
		<tr>
			<td> <%= nadador.nombre %> </td>
			<td> <%= nadador.apellido %> </td>
			<td> <%= nadador.sexo %> </td>
			<td> <%= nadador.fecha_nacimiento.strftime("%d/%m/%Y") %> </td>
			<td> <%= nadador.club %> </td>
			<td> <%= link_to 'editar', edit_nadador_path(nadador.id) %> </td>
			<td> <%= link_to 'borrar', nadador, :confirm => 'Esta a punto de borrar un nadador, ¿desea continuar?', :method => :delete %> </td>
		</tr>
		<% end %> 
	</table>
	
<br>
<%= link_to "Agregar nadador", new_nadador_path %>