<h1> <%= @nadador.apellido %>, <%= @nadador.nombre %> </h1> 

	<p><b> Apellido: </b> <%= @nadador.apellido %> 
	<p><b> Nombre: </b> <%= @nadador.nombre %> 
	<p><b>	Sexo: </b> <%= @nadador.sexo %> 
	<p><b>	Fecha de nacimiento:  </b> <%= @nadador.fecha_nacimiento %> 
	<p><b>	Club: </b> <%= @nadador.club %> 
